<div class="container">
    <div id="add-advertaisment">
        <form action="createAdvertaisment" method="POST">
            <div class="form-group">
                <label for="">title</label>
                <input type="text" class="title" name="title">
            </div>
            <div class="form-group">
                <label for="">description</label>
                <input type="text" class="description" name="description" >
            </div>
            <div class="form-group">
                <label for="">text</label>
                <textarea name="text" id="news" cols="30" rows="10"></textarea>
            </div>
            <button type="submit">save</button>
        </form>
    </div>
</div>