<aside class="left-menu">
    <ul>
        <li><a href="/createNews">add news</a></li>
        <li><a href="/createCoupons">add coupons</a></li>
        <li><a href="/createAdvertaisment">add advertaisment</a></li>
    </ul>
</aside>
<div class="container">
    <div id="add-news">
        <form action="">
            <div class="form-group">
                <label for="">title</label>
                <input type="text" class="title">
            </div>
            <div class="form-group">
                <label for="">description</label>
                <input type="text" class="description" >
            </div>
            <div class="form-group">
                <label for="">text</label>
                <textarea name="" id="news" cols="30" rows="10"></textarea>
            </div>
            <button type="submit">save</button>
        </form>
    </div>
</div>